body{
    font-family: Ubuntu, Roboto, Minecraft;
}

footer{
    text-align: center;
    font-size: x-small;
    line-height: 0px;
    height: auto;
    padding: 15px 0px 1px 0px;
}

.mineimg{
    width: 100%;
    padding: 15px 15px 15px 15px;
}

.kozep{
    text-align: center;
}

header{
    height: 56px;
}

.dropdown-menu{
    --bs-dropdown-link-active-bg: #9fa6b2;
}

th{
    font-weight: normal;
}

.kiemelt{
    font-weight: bold;
}

.carousel-item{
    height: 35vw;
}

@media screen and (min-width: 768px)  {
    .mobile-break { display: none; }
}

.kozepke{
    text-align: center; 
    width: 10vw;
}

.jobb{
    text-align: left;
    width: 45vw;
}

.bal{
    text-align: right;
    width: 45vw;
}