body {
    background-color: gray;
    color: white;
}

.szoveg {
    text-align: justify;
}

.keret{
    margin: 5%;
    border-radius: 20%;
}

.footer-custom {
    background-color: #343a40;
    color: white;
}
.footer-form {
    background-color: #343a40;
    color: white;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
}

.betutipus {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 275%;
}