body{
    background-color: rgb(42, 42, 48);
    color: white;
}
.aktivEmail{
    color: rgb(0, 194, 0);
    font-weight: bold;
}
.helytelen::placeholder{
    color: red;
    font-weight: bold;
}
.siker::placeholder{
    color: rgb(0, 194, 0);
    font-weight: bold;
}
.felsomargo{
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.margo{
    margin-top: 5px;
    text-align: center;
    width: 50%;
}
.boritokep{
    max-width: 400px;
    border-radius: 20px;
    float: left;
}
.lista{
    text-align: center;
}
.halvany{
    opacity: 15%;
    text-align: center;
}
.textbox{
    width: 100%;
}
#navdiv {
    justify-content: center;
    align-items: center;
    display: flex;
}

#navdiv nav {
    background-color: black;
    position: relative;
    width: 475px;
    height: 50px;
    background: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navdiv nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f, #33fffc);
    border-radius: 10px;
    transition: 0.5s;
}

#navdiv nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    z-index: 1;

}

video{
    max-width: 600px;
}

.videobal{
    float: left;
}

.videojobb{
    float: right;
}

#navdiv nav a:nth-child(1):hover~span{
    left: 0px;
}
#navdiv nav a:nth-child(2):hover~span{
    left: 90px;
}
#navdiv nav a:nth-child(3):hover~span{
    left: 180px;
}
#navdiv nav a:nth-child(4):hover~span{
    left: 275px;
}
#navdiv nav a:nth-child(5):hover~span{
    left: 380px;
}