body{
    background-color: rgb(42, 42, 90);
}
h1{
    color: white;
}
nav {
    background-color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(62, 62, 139);
}