nav {
    background-color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(62, 62, 139);
}
body{
    background-color: rgb(42, 42, 90);
}
h1{
    text-align: center;
    color: white;
}
.keret1{
    background-color: rgb(62, 62, 139);
    margin: 40px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
hr{
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#cim{
    text-align: center;
}
table{
    border-collapse: collapse;
    background-color: rgb(62, 62, 139);
    color: white;
}

 th ,td {
    border: 1px solid rgb(3, 3, 85);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.keret3{
    background-color: rgb(62, 62, 139);
    margin: 50px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.footer{
    background-color: rgb(62, 62, 139);
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
  }

h5{
    padding: 10px;
}



#nbakep{
    width: 200px;
    height: 160px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 94px;
    border-radius: 10px;
    border: rgb(3, 3, 85) solid 2px;
}

#fifakep{
    width: 200px;
    height: 160px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 94px;
    border-radius: 10px;
    border: rgb(3, 3, 85) solid 2px;
}

.btn-dark{
    background-color: rgb(62, 62, 139);
    width: 250px;
}

#video1{
    padding-top: 20px;
}

.elsoresz{
    padding-left: 20px;
    margin-top: 10px;
}

.keret{
    background-color: rgb(62, 62, 139);
    color: white;
    border-radius: 10px;
}

.btn{
    margin-bottom: 10px;
}